nav{
	text-align:right;
	display: inline-block;
	position: relative;
}
nav button{
	font-size: 25px;
	margin:5px;
	color:black;
	width:160px;
	height:35px;
	border:none;
	border-bottom:double;
	background-color:transparent;
}
nav div{
	display: none;
    position: absolute;
    z-index: 1;
	border-style:double;
	background-color:white;
	background-image:linear-gradient(rgba(0, 143, 198, 0.3),rgba(50, 200, 180, 0.8));
	text-align:center;
	font-size: 25px;
}
nav div a{
	color: black;
	text-decoration: none;
    display: block;
}
nav div a:hover{
	background-color:rgba(0, 180, 198, 0.7)
}
nav:hover div{
	display: block;
}
h2{
	margin:50px 0px 20px 150px;
}
table{
	border-collapse:collapse;
	margin:5px 50px 50px 50px;
	font-size:20px;
	text-align:center;
	width:50%;
}
th{
	background-color:rgba(0, 143, 198, 0.8);
	color:white;
	
}
td{
	background-color:white;
	color:black;
}
table,th,td{
	border:2px solid blue;
}
h1{
	text-align: center;
}
nav .profileBtn{
	display: inline-block;
}
